body {
    background-color: burlywood;
    color: brown;
    padding-left: 18px;
    padding-right: 18px;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ilustrasi-img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

p {
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ol li  {
    font-family: 'Courier New', Courier, monospace;
}